# Environment files
client/.Env
server/.env

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist/
build/

# Logs
logs
*.log

# OS-specific
.DS_Store
Thumbs.db

# VSCode settings
.vscode/

# dotenv example fallback
.env.local
.env.development.local
.env.test.local
.env.production.local
